<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td,
            th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            .btn-edit {
                outline: none;
                border: none;
                background-color: orange;
                height: 25px;
                width: 60px;
                border-radius: 3px;
                cursor: pointer;
            }

            .btn-delete {
                outline: none;
                border: none;
                background-color: red;
                height: 25px;
                width: 60px;
                border-radius: 3px;
                cursor: pointer;
            }
        </style>
    </head>

    <body>

        <h2>HTML Table</h2>

        <table>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
            
            <% for(let i = 0; i < datatable.length; i++) { %>
            <tr>
                <td><%= datatable[i].email %></td>
                <td><%= datatable[i].firstName %></td>
                <td><%= datatable[i].lastName %></td>
                <td><%= datatable[i].address %></td>
                <td>
                    <a href="/edit-crud?id=<%= datatable[i].id %>" class="btn-edit" type="button">Edit</button>
                    <button class="btn-delete" type="button">Delete</button>
                </td>
            </tr>
            <% } %>
        </table>
    </body>
    </html>
</body>

</html>